body {
  width: 100%;
  height: 100%;
  text-align: center;
}
/*####################################################################################*/
/*###############################   Home Screen   ####################################*/
/*####################################################################################*/
#homeContainer, #scoresContainer, #disclaimerContainer {
  width: 100vw;
  height: 100vh;
  /* image from https://www.2ndchanceplay.com/NY/Frogger/*/
  background-image: url(../images/frogger-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  visibility: visible;
 /* z-index: 2;*/
  /*font-family: 'Sigmar One', cursive;*/
  /*font-family: 'Rancho', cursive;*/
 /* font-family: 'Ravi Prakash', cursive;*/

}
.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
/*#CCE8CC*/
}
#welcome-txt{
  margin-top: 2%;
  filter: contrast(300%);
}
#frogger-img{
  position: absolute;
  width: 35%;
  height: 35%;
  background: url(../images/frogger-reaching.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 12%;
  left: 35%;
}
#title {
  margin-top: 18%;
  font-family: 'Knewave', cursive;
  font-size: 70px;
  white-space: nowrap;
  color: #00a600;
  text-shadow: 0 5px 5px #eff200;
}
.nav {
  display: block;
  margin-left: 40%;
  margin-bottom: .8%;
  font-weight: 400;
  font-family: 'Rancho', cursive;
  font-size: 30px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: transparent;
  color: #CDDC3A;
  box-shadow: 0 0px 10px #eff200;
}
.nav:hover {
    /*position: relative;*/
    box-shadow: 0 3px 30px #eff200;
    color: #eff200;
    /*box-shadow: inset 0 0px 20px #eff200;*/
}
#homeStartBtn:hover::before{
    /* image from http://www.classicgaming.cc/classics/frogger/icons*/
    content: url(../images/frogger-pixel.png);
    float: left;
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 5px;
}

#scores:hover::before {
  font-family: 'FontAwesome';
  content: "\f123";
  padding-left: 30px;
  padding-right: 30px;
 }

#disclaimer:hover::before {
  font-family: 'FontAwesome';
  content: "\f06a";
  padding-left: 30px;
  padding-right: 30px;
 }

#homeStartBtn {
  margin-top: 3%;
}


/*####################################################################################*/
/*###############################   Game Screen   ####################################*/
/*####################################################################################*/

#gameContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  display: none;
  background-color: rgba(0, 0, 0, .7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  font-family: 'Knewave', cursive;
  font-size: 25px;
}

#game-wrapper{
  margin-top: 10px;
  /* position: relative;
  left: 28%; */
  /* width: 550px;
  height: 90%; */
  background-color: lightgray;
  background: url(../images/water-copy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /*background-position: center;*/
  overflow: hidden;

}

#game-labels-wrapper {
  position: relative;
  /* left: 30vw; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  width: 550px;
  height: 100px;
  /* background-color: #00a600; */
  /*background-position: center;*/
  overflow: hidden;
  /* display: flex; */
}

.obj {
  position: absolute;
  transform-origin: origin;
  -ms-transform-origin: origin;
  -webkit-transform-origin: origin;
}

.win-or-loose{
  position: absolute;
  top: 34.5%;
  width: 100%;
  height: 15%;
  background-color: rgba(0,0,0, .8);
  font-size: 35px;
  padding-top: 15px;
  font-family: 'Sigmar One', cursive;
  color: #ee151e;
  display: none;
}
#nameLabel {
  padding-left: 0;
  word-wrap: break-word;
}
#name {
  font-size: 30px;
  padding-top: 1.5%;
  padding-left: 1%;
  width: 350px;
  background-color: transparent;
  color: yellow;
  border: 1px solid blue;
}
#nameButton {
  position: absolute;
  top: 13%;
  font-size: 30px;
  background-color: transparent;
  font-family: 'Sigmar One', cursive;
  color: #ee151e;
  border: 1px solid blue;
  cursor: pointer;
}

#frog-lives {
  float: left;
  margin-left: 4%;
}
#scoreLable {
  position: absolute;
  left: 2%;
  top: 40%;
  color: #fff;
}
#timeLable {
  position: absolute;
  right: 2%;
  top: 40%;
  color: #eff200;
}
/*####################################################################################*/
/*###############################   Score Screen   ####################################*/
/*####################################################################################*/
#scoresContainer, #disclaimerContainer {
  font-family: 'Rancho', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#score-wrapper {
  margin-top: 20px;
  width: 550px;
  height: 80%;
  /* -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(60%);  */
  opacity: .7;
  position: relative;
  left: 28%;
  font-size: 2em;
  /* overflow-y: scroll; */
}
#score-title {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px aquamarine solid;
  color: #eff200;
  margin-bottom: 20px;
}

.user {
  display: flex;
  justify-content: space-around;
  color: #fff;
}



#new-game button, #disc button {
  display: inline;
  width: 200px;
  font-size: 1.5em;
  margin-left: 0%;
  margin-bottom: 0%;
}
#newGameBtn {
  margin-right: 5%;
}
#disclaimerContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#disclaimer-wrapper {
  display: flex;
  margin-bottom: 5%;
  font-size: 2em;
  color: #fff;
  /* justify-content: center;
  align-items: center; */
}
